html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.55;
  font-weight: 400;
  color: #fff;
  background-color: #202020;

  &::after {
    content: '';
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#000, .8);
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s;
  }

  &.noscroll {
    overflow: hidden;

    &::after {
      opacity: 1;
      visibility: visible;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $accent-color;
  width: 200px;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 40px 0px rgba(23, 113, 241, 0.5);
  font-size: 14px;
  line-height: 1.55;
  text-transform: uppercase;
  font-weight: 600;
  transition: .3s;
}

.title {
  position: relative;
  padding-left: 20px;
  font-size: 36px;
  line-height: 1.55;
  font-weight: 700;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 60px;
    background-color: $accent-color;
  }
}

.phone,
.shedule,
.adress,
.email {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 60px;


  &::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.phone::before {
  background-image: url('@img/icons/phone.svg');
}

.shedule::before {
  background-image: url('@img/icons/time.svg');
}

.adress::before {
  background-image: url('@img/icons/marker.svg');
}

.email::before {
  background-image: url('@img/icons/email.svg');
  top: -5px;
}

.phone a,
.adress a,
.email a {
  transition: .3s;
}

.phone a:hover,
.adress a:hover,
.email a:hover {
  color: $accent-color;
}

.menu-btn {
  position: fixed;
  z-index: 999;
  top: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: $accent-color;

  span {
    position: relative;
    display: block;
    width: 28px;
    height: 3px;
    background-color: #fff;

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 28px;
      height: 3px;
      top: 8px;
      left: 0;
      background-color: #fff;
    }

    &:after {
      top: -8px;
    }
  }
}

.side-menu {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 300px;
  background-color: #111;
  transition: .3s;
  transform: translateX(100%);

  &.open {
    transform: translateX(0);
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    padding: 30px;
    overflow: auto;
  }

  &__item {
    transition: .3s;

    @media(any-hover: hover) {
      &:hover {
        padding-left: 20px;
      }
    }
  }

  &__item+&__item {
    margin-top: 20px;
  }

  &__link {
    text-transform: uppercase;
    font-weight: 700;
    transition: .3s;

    .no-touch &:hover {
      color: $accent-color;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    a {
      font-size: 13px;
      transition: .3s;

      .no-touch &:hover {
        color: $accent-color;
      }
    }

    a+a {
      margin-top: 15px;
    }
  }

  .nav {
    margin-bottom: auto;
  }
}

.popup-menu--circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.text-block {
  position: relative;
  max-width: 420px;
  padding-left: 100px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.15;

  &::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    width: 70px;
    height: 3px;
    background-color: $accent-color;
  }
}

.info-block {
  position: relative;
  max-width: 220px;
  padding-left: 80px;

  &::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: #303030;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-image: url('@img/icons/gamepad.svg');
  }
}

.just-validate-error-label {
  position: absolute;
  padding-top: 5px;
  top: 100%;
  left: 0;
  color: #fff !important;
}